#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
${symbol_pound}**
 * springMessage的扩展，为了使得spring的国际化能够在sitemesh的方式中也可以使用
 *
 * Macro to translate a message code into a message.
 *
 *${symbol_pound}
${symbol_pound}macro(globalMessage ${symbol_dollar}code )
	${symbol_dollar}globalMessage.getMessage(${symbol_dollar}code)
${symbol_pound}end