@CHARSET "UTF-8";
/*

*/
.component_select .switch {
	float: left;
	width: 251px;
	border: 1px solid #c8c8c8;
}

.component_select .component_operation {
	width: 60px;
	text-align: center;
	float: left;
	padding: 0 10px;
}

.component_select .component_operation a.left,.component_select .pop_layer a.left {
background-position: 0 -49px;
}

.component_select .component_operation a.right,.component_select .pop_layer a.right {
background-position: 0 -82px;
}

.component_select .component_operation a,.component_select component_.operation a .left,.component_select component_.operation a .right {
display: inline-block;
width: 39px;
height: 24px;
background: url(../img/buyico.png) no-repeat;
margin-top: 42px;
}


